.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
*.log
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
rebar3.crashdump

*~
\#*\#
.\#*


.DS_Store

tmp

src/corolla_pb_glob_*.erl
src/corolla_pb_core_*.erl
src/corolla_pb_data_*.erl
src/ingw_*
include/corolla_pb_glob_*.hrl
include/corolla_pb_core_*.hrl
include/corolla_pb_data_*.hrl
include/ingw_*
compile_commands.json
