%% -*- mode:erlang -*-
[{rtmp, [{k1, v1}, {kn, vn}]},
 {lager, [
          {error_logger_hwm, 50},
          {colored, true},
          {handlers, [
                      %% {lager_console_backend, info},
                      {lager_console_backend, [{level, info}, {formatter, lager_default_formatter},
                                               {formatter_config, ["\e[94m", time, "\e[0m ",
                                                                   "\e[41m[", severity,"]\e[0m ",
                                                                   {module, ["\e[31m", module, "\e[0m", {line, [":\e[91m", line, "\e[0m "], ""}], ""}, "",
                                                                   "\e[91m[\e[0m", message ,"\e[91m]\e[0m" , "\r\n"]}]},
                      {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
                      {lager_file_backend, [{file, "log/console.log"}, {level, info}]}
                     ]}
         ]
 }].
